[report]
exclude_lines =
    @abstractmethod
    @abc.abstractmethod

    def __repr__
    if TYPE_CHECKING:

    pragma: no cover

    TracingInitWithFile

[run]
omit =
    pyautd3/derive/*.py
    pyautd3/native_methods/autd3capi_link_simulator.py
    pyautd3/native_methods/autd3capi_link_twincat.py
    pyautd3/native_methods/__init__.py
