[report]
exclude_lines =
    @abstractmethod
    @abc.abstractmethod

    def __repr__
    if TYPE_CHECKING:

    pragma: no cover

    def update_geometry
    async def update_geometry_async

[run]
omit =
    pyautd3/gain/holo/backend_cuda.py
    pyautd3/native_methods/autd3capi_backend_cuda.py
    pyautd3/native_methods/autd3capi_link_simulator.py
    pyautd3/native_methods/autd3capi_link_twincat.py
    pyautd3/native_methods/autd3capi_link_soem.py
    pyautd3/native_methods/__init__.py
