[project]
name = "pyautd3"
version = "29.0.0rc0.post2"
description = "AUTD3 library wrapper for python"
readme = "README.md"
requires-python = ">=3.11"
dependencies = ["numpy>=2", "polars>=1.1", "forbiddenfruit"]

[build-system]
requires = ["wheel", "setuptools"]
build-backend = "setuptools.build_meta"

[tool.ruff]
target-version = "py311"
line-length = 150
exclude = [".venv", "venv", "pyautd3/native_methods/*.py"]

[tool.ruff.lint]
ignore = ["D", "SLF001", "C901", "PLR0913"]
select = ["ALL"]
fixable = ["ALL"]

[tool.ruff.lint.extend-per-file-ignores]
"pyautd3/*.py" = ["TD", "FIX002"]
"tests/*.py" = ["S101", "T201", "ANN201", "PLR0915", "PLR2004"]
"conftest.py" = ["ARG001", "ANN001"]
"example/*.py" = ["T201", "PLR2004", "PD901"]
"x.py" = ["PTH", "ANN", "SIM", "T", "PLR", "UP", "PLW", "S", "ARG"]

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = 'session'

[tool.uv]
dev-dependencies = [
    "matplotlib>=3.9.2",
    "mypy>=1.11.2",
    "pytest>=8.3.3",
    "pytest-asyncio>=0.24.0",
    "pytest-xdist>=3.6.1",
    "ruff>=0.6.9",
    "scipy>=1.14.1",
    "pytest-cov>=5.0.0",
    "build>=1.2.2.post1",
    "wheel>=0.44.0",
]
