name: build

on:
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test-on-${{ matrix.os }}-python-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make
      - uses: astral-sh/setup-uv@v7
      - run: uv venv --python ${{ matrix.python-version }}
      - run: cargo make check
        if: ${{ matrix.os != 'windows-latest' }}
      - run: cargo make test --ignore=tests/link/test_ethercrab.py
        if: ${{ matrix.os == 'windows-latest' }}